choicescript.zip
revision.txt
web/version.js
android/assets
android/bin
android/gen
iphone/build
*.pbxuser
*.mode1v3
*/.DS_Store
.DS_Store
*.svn
java/choicescript/target
java/choicescript/.classpath
java/choicescript/.project
java/choicescript/.settings