choicescript.zip
revision.txt
web/version.js
android/assets
android/bin
android/gen
iphone/build
iphone/ChoiceOfTheDragon.xcodeproj/*.pbxuser
iphone/ChoiceOfTheDragon.xcodeproj/*.mode1v3
*/.DS_Store
.DS_Store