#logo {
	background:url(images/logo.png);
	width:157px;
	height:53px;
}

#wrapper #container #header	{
	height:53px;
}

#wrapper #container #center {
	position:relative;
	top:-20px;
}

.sidebar-left-label	{
	float:left;
	white-space:nowrap;
	width:4em;
	padding-right:2px;
	text-align:right;
}

#wrapper #container #menu {
	margin-bottom:5px;
}

#menu SELECT {
	width:95%;
}

#wrapper #container #center .right-corner .left-corner {
	padding-top:20px;
}