body {
  max-width: 720px;
  font-family: Helvetica,Arial,sans-serif;
  background-color: white;
}

table {
    margin-bottom: 1em;
}

.leftStatName {
    font-weight: bold;
    text-align: right;
}
.definition {
    font-weight: normal;
    font-style: italic;
}
.leftStatBar {
    background-color: #FF0000;
    height: 2em;
    line-height: 2em;
    color: white;
}
.rightStatName {
    text-align: left;
    font-weight: bold;
}
.rightStatBar {
    width: 12em;
    background-color: #8888FF;
    height: 2em;
}

.rightStatBarOpposed {
    width: 6em;
    background-color: #8888FF;
    height: 2em;
}

label{
    background-color: white;
    color: black;
    font-size:17px;
    font-weight:bolder;
    line-height:20px;
    padding: 11px 8px 12px;
    display:block;
    border-color:#a9acaf;
    border-style:solid;
    border-width: 1px 1px 0px 1px
}
.firstChild{
    border-top-width:1px;
    -webkit-border-top-right-radius:8px;
    -webkit-border-top-left-radius:8px;
    -moz-border-radius:8px 8px 0px 0px;
}
/* IE doesn't support label:last-child */
.lastChild{
    border-bottom-width:1px;
    -webkit-border-bottom-right-radius:8px;
    -webkit-border-bottom-left-radius:8px;
    -moz-border-radius:0px 0px 8px 8px;
    border-bottom-right-radius:8px;
    border-bottom-left-radius:8px;
}
.onlyChild{
    border-width:1px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
}

.disabled {
  color: gray;
}

.next {
    display:block;
    width:100%;
    font-size:25px;
    font-weight:bolder;
    margin-bottom: 16px; /* reset button margin */
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: large;
}

#footer {
  margin:10px 0px 75px 0px;
}

#mobileLinks a img {
  border: 0;
}

.mobileBadges {
  float: left;
  margin: 0;
}

.spacedLink {
  margin-right:0.5em;
}

#sharelist {
  margin: 0; /* Eliminate leading space before share links */
}

#sharelist li {
  margin-bottom: 1em; /* Don't let the links bunch up; -bottom to eliminate leading space before share links */
}

#greybackground {
    position: fixed;
    width:100%;
    height:100%;
    background-color: black;
    filter:alpha(opacity=50);
    opacity: 0.5;
    top:0;
    left:0;
}

.webOnly { /* We'll override this in JavaScript */
  display: none;
}

@media only screen and (max-device-width: 480px) {
  .definition{
    display: none;
  }
  
  #share {
    font-size: smaller;
  }
  
  #share span:first-child {
    display: block;
  }
  
  .gameTitle {
    display: none;
  }

  #advertisement {
    margin: -8px;
  }
  
  .mobileBadges {
    float: none;
  }
  
  #header {
    margin-top: 30px;
  }
  
}
